body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fffefed9;
    padding: 20px 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.391);
    position:relative;
    width: 100%;
    z-index: 1000;
}

nav {
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0070c9;
}

main {
    margin-top: 80px; /* Adjust based on your header height */
    padding: 20px;
}

footer {
    background-color: #151515;
    padding: 10px 0;
    text-align: center;
}

/* Add more styles for your content sections as needed */
